.dockerignore
.git
.gitignore
Dockerfile*
node_modules
npm-debug.log
**/.classpath
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/compose*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
